.git
.github
.env
.env.*
!.env.example
!.env.prod.example
backups
artifacts
data
mlruns
bentoml
.venv
.venv-*
.pytest_cache
.mypy_cache
__pycache__
**/__pycache__
*.pyc
*.pyo
*.log
spark-3.5.5
kafka_2.13-4.0.0
