~
spark-3.5.5
kafka_2.13-4.0.0
.env
backups/
artifacts/*
!artifacts/mlops/
!artifacts/mlops/.gitkeep
mlruns/
mlflow.db
bentoml/
test.py
__pycache__/
*.pyc
Final.code-workspace
model_producer.py
cacandles_processor.Dockerfile
candles_processor.py
